.create-product {
  border: 1px dashed #ccc;
  padding: 10px;

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;

    & > label {
      margin-bottom: 0;

      & > span {
        // display: inline-block;
        margin-bottom: 0.5rem;
        padding-left: 0.5rem;
        color: grey;
        font-style: italic;
      }
    }

    & > input,
    & > textarea {
      margin-top: 0;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
    }

    & > input[type='submit'] {
      width: 200px;
      margin-top: 0;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
}
